nav ul li {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(153, 64, 64);
  padding: 20px 40px;
  margin-bottom: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.logo {
  font-size: 22px;
}

.nav {
  display: flex;
  font-size: 19px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: aliceblue;
  padding-right: 50px;
}

.logo {
  text-decoration: none;
  color: aliceblue;
}

.page {
  padding-left: 40px;
  text-align: center;
}
