nav ul li {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(153, 64, 64);
  padding: 20px 40px;
  margin-bottom: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 1px solid beige;
}

.logo {
  font-size: 20px;
  font-family: monospace;
}

.nav {
  display: flex;
  font-family: monospace;
  font-size: 19px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: aliceblue;
  padding: 0 30px;
}

.logo {
  text-decoration: none;
  color: aliceblue;
}

.home {
  font-family: monospace;
  font-size: 14px;
  text-align: center;
}

.page {
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  color: rgb(16, 61, 109);
  background-color: antiquewhite;
  margin: 10px 0;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 18px;
  width: 30%;
  text-align: center;
}
